/* Bootstrap CSS override begins here */
body {
    background-image: url("../images/gravel.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 200%;
    text-align: justify;
}

nav {
    background-color:#ffffff;
    border-bottom: 2px solid #cccccc;
}


a.index {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    background-color:#4aaaa5;
    padding:1em;
    text-decoration: none;
}

a.nav-link{
    text-decoration: none;
    color: #777777;
}

#nav-divider{
    color:#cccccc;
    font-weight:lighter;
}

h2 {
    margin: .5em 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    font-weight: bold;
    color: #4aaaa5;
}

hr {
    border-top: 3px solid #dddddd;
    margin: 1em 15px 1.5em 15px;
    padding:0;
}

.pull-left {
    float:left;
}

.footer {
    position: relative;
    bottom:0;
    width: 100%;
    margin-top: 2em;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
} 

.img-portfolio{
    width:100%;
}

#copyright-text {
    position: relative;
    bottom: 1.5em;
    margin: 30px 0 0 0;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50%;
    color: #dddddd;
}

#contact-submit {
    width: 120px;
    height: 40px;
    margin: 15px 0 30px 0;
    background-color: #4aaaa5;
    font-size: 105%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

/* Media Queries begin here */


@media screen and (max-width: 575px) {
    .img-limit {
        width:100%;
        margin-bottom:1em;
    }
    a.index{
        width:100%;
        text-align: center;
        font-size: 36px;
    }
}

@media screen and (max-width: 767px) {
    .img-limit {
        width:100%;
        margin-bottom:1em;
    }
    a.index{
        font-size: 24px;
        padding:1 1.5em;
    }
}

@media screen and (min-width: 768px) {
    .img-limit {
        width:50%;
    }
    a.index{
        font-size: 30px;
        padding:1em;
    }

}

@media screen and (min-width: 992px) {
    .img-limit {
        width:33%;
    }
    .container {
        max-width: 1188px;
    }
    a.index{
        font-size: 36px;
        padding:1em;
    }
}

@media screen and (max-width: 575px){
    a.index{
        font-size: 36px;
    }

}